<div class="starter-template">
  <h4>Check out what I'm sharing on MyNeighbor !</h4>
  <h3>{{item.name}}</h3>
  <img src="{{item.image}}" />
  <h4>{{item.description}}</h4>

  <a href="{{redirectURL}}"><img img height="40px" alt="Open In MyNeighbor" src="http://www.jmdtravelservices.com/images/Button-Request-Now.gif"/></a>

  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

  <a href="mailto:{{user.email}}?Subject=Can I borrow your item {{item.name}}?"> <img height="40px" alt="Contact me now" src="http://www.jdhministries.org/wp-content/uploads/2013/12/hdws_new_contact_me_now_button.png"/>

</div>