<div class="starter-template">
  <h4>Check out what I'm requesting on MyNeighbor !</h4>
  <h3>{{request.title}}</h3>
  <h4>{{request.description}}</h4>

  <a href="{{redirectURL}}"><img img height="30px" alt="Open In MyNeighbor" src="http://newlifeassembly.net/wp-content/uploads/2014/11/Give-now-button.jpg"/></a>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="mailto:{{user.email}}?Subject=Do you have a {{request.title}} to lend me!"> <img height="30px" alt="Help me now" src="http://www.jdhministries.org/wp-content/uploads/2013/12/hdws_new_contact_me_now_button.png"/>

</div>